@model PartyPlannerPro.Models.ViewModels.EditVenueViewModel

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="venue.Id" />
            <div class="form-group">
                <label asp-for="venue.VenueName" class="control-label"></label>
                <input asp-for="venue.VenueName" class="form-control" />
                <span asp-validation-for="venue.VenueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.ContactPerson" class="control-label"></label>
                <input asp-for="venue.ContactPerson" class="form-control" />
                <span asp-validation-for="venue.ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.PhoneNumber" class="control-label"></label>
                <input asp-for="venue.PhoneNumber" class="form-control" />
                <span asp-validation-for="venue.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.StreetAddress" class="control-label"></label>
                <input asp-for="venue.StreetAddress" class="form-control" />
                <span asp-validation-for="venue.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.City" class="control-label"></label>
                <input asp-for="venue.City" class="form-control" />
                <span asp-validation-for="venue.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.State" class="control-label"></label>
                <input asp-for="venue.State" class="form-control" />
                <span asp-validation-for="venue.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="venue.MaxCapacity" class="control-label"></label>
                <input asp-for="venue.MaxCapacity" class="form-control" />
                <span asp-validation-for="venue.MaxCapacity" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
